@import url(../Pallete.css);
/* Access Box */
#AccessBox
{
    background-color : var(--BackColor);
}
#AccessBox li
{
    border-color : var(--LineColor);
}
#AccessBox li a
{
    color : var(--TextColor);
}
#AccessBox li a:hover
{
    color:var(--PrimaryColor);
}
.active
{
    padding-right: 5px;
    font-size: 26px;
    color: var(--PrimaryColor) !important;
    border-color : var(--PrimaryColor) !important;
}