.PageHide
{
    display: none !important;
}
/*  */
#Content
{
    height: 1500px;
    margin-bottom: 50px;
}
/* JobProfile */
#Content>div
{
    height: 1500px;
    width: 1475px;
    border : 2px solid red;
} 
    /* JobBanner */
    .JobBanner
    {
        width: 100%;
        border-radius : 16px;
        height: 350px;
        border : 2px solid;
    }
    .JobBanner img
    {
        width: 100%;
        height: 100%;
    }
    /* User Img */
    .UserInfoBox
    {
        width: 300px;
        height: 300px;
        margin-left: 100px;
        margin-top: -100px;
    }
    .UserImg
    {
        width: 200px;
        height: 200px;
        border : 2px solid ;
        margin-left: 50px;
    }
    .UserInfoBox input
    {
        width: 250px;
        margin-top: 20px;
        border-radius : 16px;
        height: 50px;
        margin-left: 25px;
        font-size: 18px;
        border : 2px solid ;
    }
    .UserInfoBox p
    {
        width: 150px;
        margin-left: 75px;
        margin-top: 60px;
        font-size: 22px;
    }
    /* Profile Tab */
    .ProfileTabs
    {
        right: 7%;
        top: 25%;
        width: 800px;
        height: 100px;
        border-bottom: 2px solid;
    }
    .ProfileTabs ul
    {
        margin-top: 25px;
        height: 75px;
        width: 800px;
    }
    .ProfileTabs li
    {
        cursor: pointer;
        font-size: 32px;
        padding-bottom: 25px;
        text-align: right;
        border-bottom : 2px solid;
        width: 400px;
    }
    /* Job Info Box */
    .JobInfoBox
    {
        width: 95%;
        margin-left: 2.5%;
        height: 900px;
    }

    /* Job Info Form */
    .JobInfoForm
    {
        width: 95%;
        margin-left: 2.5%;
        height: 450px;  
    }
    .JobInfoForm input
    {
        border : 2px solid;
    }
    .JobInfoForm>div
    {
        height: 100%;
    }
    .UserPhoneNumber
    {
        margin-top: 25px;
        width: 500px;
        height: 50px;
        margin-left: 40px;
        border-radius: 8px;
        font-size: 24px;
    }   
    .TimeOpen
    {
        direction: rtl;
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        padding-right: 95px;
    }
    .TimeOpen label
    {
        font-size: 18px;
        margin-right: 10px;
    }
    .TimeOpen input
    {
        width: 175px;
        height: 50px;
        margin-top: 20px;
        border-radius : 8px;
        font-size: 24px;
        margin-right: 10px;
    }
    .JobDescription
    {
        width: 95%;
        height: 95%;
        margin-top: 2.5%;
        margin-left: 2.5%;
        border-radius : 16px;
        padding: 0;
        font-size: 24px;
    }
    .JobSocilaMediaAddress
    {
        width: 500px;
        height: 120px;
        margin-left: 40px;
        font-size: 18px;
        border-radius :8px;
    }
    .JobAddress
    {
        width: 500px;
        height: 120px;
        margin-top: 25px;
        margin-left: 40px;
        font-size: 18px;
        border-radius :8px;
    }
    /* Job Location */
    .JobLocation
    {
        width: 95%;
        margin-top: 20px;
        margin-left: 2.5%;
        height: 300px;
        border-radius : 24px;
    }
    .JobLocation iframe
    {
        width: 100%;
        height: 100%;
        border-radius : 24px;
    }

    .JobInfoBox button
    {
        margin-left: 300px;
        width: 800px;
        height: 80px;
        font-size: 30px;
        margin-top: 25px;
        border-radius : 16px
    }

    /* Job Gallery */
    .JobGalleryBox
    {
        width: 95%;
        margin-left: 2.5%;
        height: 900px;
    }
    .GalleryImg
    {
        width: 95%;
        margin-left: 2.5%;
        height: 600px;
    }
    .GalleryImg div
    {
        border-radius : 16px;
        border: 2px solid;
        margin: 20px 50px;
    }
    .GalleryImg div>p
    {
        cursor: pointer;
        font-size: 24px;
    }
    .GalleryVideo
    {
        width: 95%;
        margin-left: 2.5%;
        height: 300px;
    }
    .GalleryVideo div
    {
        border-radius : 16px;
        margin-top: 20px;
        height: 250px;
        border: 2px solid;
    }
    .GalleryVideo div>p
    {
        cursor: pointer;
        font-size: 24px;
    }

/* UserInfo */
#UserInformation
{
    width: 100%;
    height: 800px;

}
#UserInformation>div
{
    direction: rtl;
    height: 235px;
    border : 1px solid;
}
.TopRight
{
    border-top-right-radius:50px
}
.TopLeft
{
    border-top-Left-radius:50px
}
.BottomRight
{
    border-bottom-right-radius:50px
}
.BottomLeft
{
    border-bottom-Left-radius:50px
}
#UserInformation>div img
{
    width: 100px;
    height: 100px;
}
#UserInformation>div input
{
    border-radius:30px;
    padding-right: 50px;
    width: 500px;
    height: 100px;
    font-size: 26px;
}

#UserCertificate
{
    width: 100%;
    height: 700px;
}
#UserCertificate p
{
    font-size: 26px;
    margin-top: 200px;
}
#UserCertificate button
{
    margin-top: 50px;
    left: 30%;
    width: 590px;
    height: 70px;
    border-radius : 15px;
    font-size: 22px;
    border:2px solid;
}

/* Noification */
#Notification > div
{
    border:1px solid black;
}
.Notif
{
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Notif-content
{
    direction: rtl;
}
.Notif-content h3
{
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    height: 50px;
}
.Notif-content p
{
    width: 100%;
    height: 50px;
}

/* Academy */


/* Permium */
.PermiumCard
{
    width: 400px;
    margin-top: 150px;
}
.PermiumCard>div
{
    height: 500px;
    width: 350px;
    border-radius : 16px;
    border:1px solid;
}
.PermiumDay
{
    font-size: 150px;
    font-weight:bolder;
}

.PermiumLenth
{
    font-size: 34px;
}
.PermiumPrice
{
    font-size: 28px;
    font-weight: 800;
}

.PermiumCard > button
{
    margin-top: 30px;
    width: 200px;
    height: 80px;
    font-size: 26px;
    border-radius : 16px;
}
.PermiumFocuse
{
    height: 450px !important;
    margin-bottom: 55px;
}

.Payment
{
    margin-top: 200px;
}
.Payment>button
{
    width: 800px;
    height: 100px;
    font-size: 28px;
    border-radius:16px;
}