@import url(../Font.css);
@import url(../Pallete.css);

/* Banner */
#Banner
{
    border-color:var(--LineColor);
}
/* Categury */
#Categury
{
    border-color:var(--LineColor);
}
#Categury a
{
    color: var(--BlackColor);
}
