@import url(../../Pallete.css);
/* Content */
#Content h2 p
{
    color: var(--BlackColor);
}
#Content button
{
    background-color : var(--PrimaryColor);
    border-color : var(--PrimaryColor);
    color:var(--WhiteColor);
}
