

/* Contetnt */
#Content
{
    height: 700px;
    margin-top: 50px;
}
#Content h2
{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 40px;
}
#Content p
{
    font-size: 34px;
}
#Content button
{
    margin-top: 50px;
    width: 700px;
    height: 100px;
    left: 23%;
    border-radius : 16px;
    font-size:30px;
}

