#Content
{
    height: 1000px;
}
/* ContentFilter */
.ContetnFilter
{
    margin-top: 30px;
    height: 700px;
    border-radius:16px;
}

.ContetnFilter ul
{
    direction: rtl;
}
.ContetnFilter li
{
    border-bottom:1px solid black;
}
.ContetnFilter li h2
{
    cursor: pointer;
    padding-top: 15px;
    font-size: 18px;
}
/* ContentBox */
.ContentBox
{
    margin-top: 30px;
    height: 950px;
    border-radius:16px;
}
.ContentBoxFilter
{
    width: 98%;
    margin-left: 1%;
    height: 70px;
    border-radius:16px;
}
.ContentBoxFilter p
{
    font-size: 20px;
}
.ContentBoxFilter li
{
    cursor: pointer;
    font-size: 18px;
}
.ContentCard
{
    width: 350px;
    height: 375px;
    padding: 0;
    border-radius : 8px;
    margin: 10px 10px;
}

.Content-Card-Img
{
    width: 100%;
    height: 200px;
    z-index: 1;
    
}
.Content-Card-Img > img
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
    width: 100%;
    height: 100%;
    
}
.Content-Card-Text
{
    width: 100%;
    height: 240px;
}
.Content-Card-User-Img
{
    margin-left:115px;
    margin-top: -65px;
    width: 125px;
    height: 125px;
    border: 4px solid;
    border-radius:50%;
    position: relative;
}
.Content-Card-User-Img > img
{
    width: 125px;
    height: 125px;
    border-radius : 50%;
    border : none;
}
.Content-Card-User-Info
{
    margin-left: 15%;
    margin-Right: 15%;
    width: 70%;
    height: 100px;
}
.Content-Card-User-Info  h3
{
    cursor: pointer;
    margin-top:15px;
    margin-bottom:5px;
    font-size: 20px;
}

.Content-Card-User-Info  h4
{
    cursor: pointer;
    margin-top:15px;
    margin-bottom:5px;
    font-size: 16px;
}