@import url(../Font.css);
@import url(../Pallete.css);

.ContetnFilter
{
    background-color: var(--LineColor);
}

.ContentBoxFilter
{
    background-color:var(--LineColor);
    color:var(--BlackColor);
}
.ContentBoxFilter li:hover
{
    color:var(--PrimaryColor);
}
.Content-Card
{
    border-color :var(--LineColor);
}   
.Content-Card-Text
{
    background-color:var(--BackColor);
}
.Content-Card-User-Img
{
    border-color : var(--LineColor);
}
.Content-Card-User-Info a , h2,h3
{
    color : var(--BlackColor);
}
.Content-Card-User-Info  h3:hover , h4:hover
{
    color:var(--PrimaryColor)
}

